*{
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
}

/* PAGE HEADER */
.top-nav{
    height: 48px;
    width: 100%;
    background: #22242a;
}

    nav ul.items-left{
        float: left;
        margin-left: -30px;
    }

    nav ul.items-right{
        float: right;
    }

        .items-left li{
            list-style-type: none;
            display: inline-block;
        }

        .items-right li{
            list-style-type: none;
            display: inline-block;
        }

            .items-left li a{
                text-decoration: none;
                padding: 8px;
                color: white;
                border-radius: 4px;
            }

            .items-right li a{
                text-decoration: none;
                padding: 8px;
                color: white;
                border-radius: 4px;
            }

                ul li:hover a{
                    background: rgb(92, 92, 92);
                }

                    /* BARS BTN */
                    .fa-solid.fa-bars{
                        color: white;
                    }
                    
                        label #menu_btn{
                            cursor: pointer;
                            transition: 0.5s;
                        }
                    
                            label #menu_btn:hover{
                                color: #19b3d3;
                            }

                                /* BARS BTN CHECKBOX */
                                #bars-btn-checkbox{
                                    display: none;
                                }

                                    #bars-btn-checkbox:checked ~ .side-nav {
                                        left: 0;
                                    }

                                        #bars-btn-checkbox:checked ~ .content {
                                            margin: 20px 20px 20px 170px;
                                        }

                                            #bars-btn-checkbox:checked ~ * .fa-solid.fa-bars{
                                                color: #19b3d3;
                                            }

                                                /* USER PIC BTN */
                                                .user-pic{
                                                    cursor: pointer;
                                                    float: right;
                                                    width: 36px;
                                                    border-radius: 50%;
                                                    margin: -10px 10px 0px 10px;
                                                }

/* SIDE NAV BAR */
.side-nav{
    position: absolute;
    width: 150px;
    height: 100%;
    background-color: #2c3e50;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    left: -150px;
    z-index: 1;
    transition: left 0.5s ease-in-out;
}

    .side-nav a{
        padding: 0px 20px 0px 48px;
        margin-top: 10px;
        text-decoration: none;
        font-size: 13px;
        color: lightgrey;
        display: block;
        transition: 0.3s;
        box-sizing: border-box;
        line-height: 30px;
    }

        .side-nav a:hover{
            color: white;
            font-weight: 600;
            background: #0c5d6e;
        }
        




















/* MAIN CONTENT */
.content{
    margin: 20px 20px 20px 20px;
    height: 600px;
    transition: margin 0.5s ease-in-out;
}

.content .fa-regular.fa-clock{
    color: #22242a;
    margin-right: 10px;
    font-size: 30px;
}

.content-header{
    height: 70px;
    width: 100%;
    background: rgb(207, 233, 242);
    
}

.content-header .content-left{
    list-style-type: none;
}

    .content-header h1{
        float: left;
        margin-left: 20px;
    }

        .content h6{
            float: left;
            color: #22242a;
            margin-top: 37px;
            margin-left: 10px;
        }

.content-header .content-right{
    float: right;
    margin-top: 40px;
    border-radius: 4px;
    margin-right: 4px;
    
}

    .content-right li{
        list-style-type: none;
        display: inline-block;
    }

    .content-right li a{
        text-decoration: none;
                padding: 8px;
                color: white;
                border-radius: 4px;
        
    }

        .content-header ul li a{
            padding: 8px;
            color: black;
            text-decoration: none;
            font-size: 13px;
            transition: 0.3s;
        }

            .content-header ul li:hover a{
                background: #7dc9d8;
            }







            /* TASK CONTENT */
    .content hr{
        color: #22242a;
        height: 0px;
        width: 100%;
        background: grey;
    }

        .content .task{
            
            width: 100%;
            height: 50px;
            margin: 10px 0px 0px 0px;
            /* display: block; */
            cursor: pointer;
            

        }

            .content .task h5{
                padding: 5px;
                margin: 0px;
            }        

                .content .task p{
                    padding: 5px;
                    font-size: 12px;
                    margin: 7px;
                }        

                .task-buttons{
                    float: right;
                    margin-right: 8px;
                    visibility: hidden;
                }

                .task-buttons li{
                    display: inline-block;
                    list-style-type: none;
                    /* visibility: hidden; */
                }

                    .task-buttons li a{
                        text-decoration: none;
                        color: rgb(74, 74, 74);
                        padding: 8px;
                        border-radius: 4px;
                        margin: -48px 0px 0px 0px;
                        /* display: none; */
                        
                    }

                        .task-buttons li:hover a{
                            background: rgb(194, 194, 194);
                            /* color: white; */
                            
                        }


                            .content .task:hover{
                                
                                background: #e7e7e7;

                            }

                            .content .task:hover li a {
                                
                                visibility: visible;

                                
                            }






















#upcoming{
    display: none;
}

    .fa-solid.fa-caret-down{
        font-size: 15px;
        color: black;
        margin-left: 10px;
        margin-top: 4px;
        transition: 0.5s;
    }

        #upcoming:checked ~ * .fa-solid.fa-caret-down {
            transform: rotate(-90deg);
        }


#completed{
    display: none;
}

    .fa-solid.fa-caret-down{
        font-size: 15px;
        color: black;
        margin-left: 10px;
        margin-top: 4px;
        transition: 0.5s;
    }

        #completed:checked ~ * .fa-solid.fa-caret-down {
            transform: rotate(-90deg);
        }






.upcoming-nav{
    margin-top: 30px;
    width: 100%;
    height: 25px;
    border-radius: 4px;
}

    .upcoming-nav a{
        text-decoration: none;
    }

        .upcoming-nav p{
            display: inline;
            text-decoration: none;
        }





.completed-nav{
    margin-top: 30px;
    width: 100%;
    height: 25px;
    border-radius: 4px;
}

    .completed-nav a{
        text-decoration: none;
    }

        .completed-nav p{
            display: inline;
            text-decoration: none;
        }






.task{
    height: 25px;
    width: 100%;
    margin: 10px;
}

.task a{
    display: inline;
    float: right;
    margin-right: 10px;
}

.task p{
    display: inline;
}










.upcoming-content{
    border-radius: 4px;
}



















/* 
.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 0%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ;
}

.sub-menu-wrap h2{
    color: black;
}

.sub-menu-wrap.open-menu{
    max-height: 600px;
}




.sub-menu{
    padding: 20px;
    margin: 10px;
    background: #cfcfcf;
    border-radius: 10px;
}




.user-info{
    display: flex;
    align-items: center;
}

.user-info h3{
    font-weight: 500;
}

.user-info img{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr{
     border: 0;
     height: 1px;
     width: 100%;
     background: grey;
     margin: 15px 0 10px ;
} */







/* .sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p{
    width: 100%;
}

.sub-menu-link i{
    width: 20px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 10px;
    margin-right: 15px;
}

.sub-menu-link span{
    font-size: 12px;
    transition: transform 0.5s;
}

/* hovers */
/* .sub-menu-link:hover span{
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;
} */ 














