*{
    font-family: 'Barlow', sans-serif;
}

body{
    margin: 0;
    height: 100%;
    overflow: hidden
}

.page-header{
    top: 0;
    z-index: 2;
}

/* HIDE CHECKBOXES */
.checkbox{
    display: none;
}

/* TOP NAV BAR */
.top-nav{
    height: 48px;
    width: 100%;
    background: #22242a;
    justify-content: space-between;
}

    .top-nav ul.items-left{
        float: left;
        margin-left: -30px;
    }

    .top-nav ul.items-right{
        float: right;
    }
        .top-nav ul li{
            display: inline-block;
            cursor: pointer;
        }

        .top-nav ul li:hover a{
            background: rgb(92, 92, 92);
        }

        .top-nav ul li:hover a .fa-solid.fa-bars{
            color: #19b3d3;
        }

            .top-nav ul li a{
                text-decoration: none;
                padding: 8px;
                color: white;
                border-radius: 4px;
            }

                .user-pic{
                    cursor: pointer;
                    float: right;
                    width: 36px;
                    border-radius: 50%;
                    margin: -10px 10px 0px 10px;
                }

                    /* BARS BTN */
                    label #menu_btn{
                        cursor: pointer;
                        transition: 0.3s;
                    }

                        #bars-btn-checkbox:checked ~ aside {
                            left: 0;
                        }

                            #bars-btn-checkbox:checked ~ main {
                                margin: 0px 0px 20px 170px;
                                width: calc(100% - 170px);
                            }

                                #bars-btn-checkbox:checked ~ * .fa-solid.fa-bars{
                                    color: #19b3d3;
                                }

/* SIDE NAV BAR */
aside{
    position: fixed;
    width: 150px;
    height: 100%;
    background-color: #2c3e50;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    left: -150px;
    transition: left 0.5s ease-in-out;
}

    .side-nav a{
        padding: 0px 0px 0px 18px;
        text-decoration: none;
        font-size: 13px;
        color: lightgrey;
        display: block;
        transition: 0.3s;
        line-height: 40px;
    }

        .side-nav a:hover{
            color: white;
            font-weight: 600;
            background: #0c5d6e;
        }

/* MAIN CONTENT & HEADER */
main{
    position: absolute;
    margin: 0px 0px 0px 20px;
    width: calc(100% - 20px);
    height: 94vh;
    transition: all 0.5s ease-in-out;
    overflow-y: scroll;
    cursor: default;
    user-select: none;
}

    .main-header{
        z-index: 1;
        height: 70px;
        width: calc(100% - 20px);
        background: rgb(207, 233, 242);
        border-top: 20px solid white;
        top: 0px;
        position: -webkit-sticky;
        position: sticky;
        display: flex;
        align-items: center;
    }

        .main-header .items-left{
            height: 65px;
            width: 50%;
            display: flex;
            align-items: center;
        }

            main .fa-solid.fa-layer-group{
                color: rgb(47, 47, 47);
                margin: 0px 5px 0px 5px;
                font-size: 40px;
                padding: 5px;
            }

                .main-header h1{
                    color: rgb(47, 47, 47);
                    font-family:sans-serif;
                    padding: 5px;
                }
            
                    main .date{
                        color: rgb(47, 47, 47);
                        margin-top: 49px;
                        margin-left: 2px;
                        padding: 2px;
                        border-radius: 2px;
                    }

        /* .main-header .items-right{
            height: 65px;
            width: 50%;
            display: flex;
            justify-content: right;
            align-items: end;
        } */

            /* .main-header .items-right li{
                position: absolute;
                list-style-type: none;
                margin: 0px 5px 10px 0px;
                display: block;
            } */

            /* .main-header .fa-solid.fa-ellipsis{
                padding: 8px;
                font-size: 13px;
                border-radius: 4px;
                transition: 0.5s;
                margin: 0px 5px 2px 0px;
                display: none;
                cursor: pointer;
            }
            .main-header .fa-solid.fa-ellipsis:hover{
                background: #7dc9d8;
            }

            @media (max-width: 390px){
                .main-header .fa-solid.fa-ellipsis{
                    display: block;
                }

                .main-header .items-right li{
                    display: none;
                }
            } */
        
                /* .main-header ul li a{
                    padding: 8px;
                    color: black;
                    text-decoration: none;
                    font-size: 13px;
                    border-radius: 4px;
                    transition: 0.5s;
                } */
        
                    /* .main-header ul li:hover a{
                        background: #7dc9d8;
                    } */

                        /* CONTENT SORTING ICON */
                        /* .fa-solid.fa-arrow-down{
                            transition: 0.5s;
                            cursor: pointer;
                        }

                            #sorting:checked ~ * .fa-solid.fa-arrow-down {
                                transform: rotate(-180deg);
                            } */

                /* DROPDOWN MENU FOR SORTING */
                .dropdown{
                    min-width: 5.2em;
                    position: absolute;
                    display: fixed;
                    right: 5px;
                    bottom: 5px;
                }

                    .dropdown * {
                        box-sizing: border-box;
                    }

                        .select{
                            /* background: #2a2f3b; */
                            /* color: #fff; */
                            color: rgb(47, 47, 47);
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            /* border: 2px solid #2a2f3b; */
                            /* background: #7dc9d8; */
                            border-radius: 0.5em;
                            padding: 8px;
                            cursor: pointer;
                            transition: background 0.3s;
                            font-size: 12px;
                        }

                            .select-clicked{
                                /* border: 1px #26489a solid; */
                                /* box-shadow: 0 0 0.8em #26489a; */
                                box-shadow: 0 0 0.8em #2e6d8c;
                            }

                            .select:hover{
                                /* background: #323741; */
                                /* background: rgb(47, 47, 47); */
                                background: #ade1ed;
                            }

                            

                                .caret{
                                    width: 0;
                                    height: 0;
                                    border-left: 5px solid transparent;
                                    border-right: 5px solid transparent;
                                    /* border-top: 6px solid #fff; */
                                    border-top: 6px solid rgb(47, 47, 47);
                                    transition: 0.3s;
                                    opacity: 0;
                                }

                                .select:hover .caret{
                                    /* background: #323741; */
                                    /* background: rgb(47, 47, 47); */
                                    opacity: 1;
                                }

                                .caret-rotate{
                                    transform: rotate(180deg);
                                    opacity: 1;
                                }

                                    .menu{
                                        list-style: none;
                                        padding: 0.2em 0.5em;
                                        background: #323741;
                                        border: 1px #363a43 solid;
                                        box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
                                        border-radius: 0.5em;
                                        color: #9fa5b5;
                                        position: absolute;
                                        top: 2em;
                                        left: 50%;
                                        width: 100%;
                                        transform: translateX(-50%);
                                        opacity: 0;
                                        display: none;
                                        transition: 0.2s;
                                        z-index: 1;
                                        font-size: 12px;
                                    }

                                    .menu li{
                                        padding: 0.7em 0.5em;
                                        margin: 0.3em 0;
                                        border-radius: 0.5em;
                                        cursor: pointer;
                                    }

                                    .menu li:hover{
                                        background: #2a2d35;
                                    }

                                        /* .active{
                                            background: #23242a;
                                        } */

                                        .menu-open{
                                            display: block;
                                            opacity: 1;
                                        }

/* MAIN PAGE - TASK SECTION - NAV */
.inbox-section nav{
    margin-top: 0px;
    width: 100%;
    height: 37px;
    border-top: 10px solid white;
    top: 90px;
    position: -webkit-sticky;
    position: sticky;
    display: block;
    background: white;
    cursor: default;
    user-select: none;
}

    .inbox-section nav p{
        display: inline;
    }

        .task-counter{
            font-size: 12px;
        }
        
            .inbox-section nav hr{
                border: 0px;
                border-top: 1px solid grey;
                width: calc(100% - 56px);
                margin-right: 20px;
            }

                /* HIDE AND SHOW TASK LISTS */
                .inbox-section nav .fa-solid.fa-chevron-down{
                    font-size: 13px;
                    color: rgb(83, 83, 83);
                    margin-left: 10px;
                    margin-top: 4px;
                    transition: 0.5s;
                    padding: 6px;
                    border-radius: 4px;
                    cursor: pointer;
                }

                    #upcoming:checked ~ * .fa-solid.fa-chevron-down {
                        transform: rotate(-90deg);
                    }

                    #completed:checked ~ * .fa-solid.fa-chevron-down {
                        transform: rotate(-90deg);
                    }

                    #overdue:checked ~ * .fa-solid.fa-chevron-down {
                        transform: rotate(-90deg);
                    }

                    #inbox:checked ~ * .fa-solid.fa-chevron-down {
                        transform: rotate(-90deg);
                    }

/* MAIN PAGE - INBOX SECTION - NEW TASK */
.inbox-section .task{            
    width: calc(100% - 58px);
    height: 55px;
    padding: 2px;
    margin: 10px 0px 0px 34px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(234, 234, 234);
}

    .task .title{
        border: none;
        cursor: pointer;
        color: #313131;
        background-color: transparent;
        width: calc(100% - 265px);
        padding: 5px;
        margin: 2px 0px 0px 2px;
        font-weight:900;
        font-size: 13px;
        position: fixed;
        display: block;
    }
        .task .date{
            position: fixed;
            display: inline-flex;
            padding: 5px;
            width: 95px;
            height: 15px;
            margin: 28px 0px 0px 2px;
            align-items: center;
            font-size: 12px;
        }   
        .task .time{
            position: fixed;
            display: inline-flex;
            padding: 5px;
            width: 95px;
            height: 15px;
            margin: 28px 0px 0px 108px;
            align-items: center;
            font-size: 12px;
        }   
        
        .task .fa-regular.fa-calendar-days{
            margin: 0px 5px 0px 0px;
        }
        
        .task .fa-regular.fa-clock{
            margin: 0px 5px 0px 0px;
        }

            .action-buttons{
                /* font-size: 15px; */
                visibility: hidden;
                position:absolute;
                display: inline-flex;
                /* right: 0px; */
                /* justify-content: center; */
                right: 28px;
                margin-top: 4px;
                opacity: 0;
                transition:visibility 0.1s linear,opacity 0.1s linear;
                width: 150px;



                /* align-items: center; */
                /* vertical-align: center; */
                /* vertical-align: middle; */
                font-size: 13px;
                padding: 3px;
                color: rgb(185, 185, 185);
                /* background: lightblue; */
                /* position: relative; left: -20px; */
            }
            
                .action-buttons i{
                    border-radius: 5px;
                    /* transition: 1s; */
                    /* background:lightgrey; */
                    padding: 10px;

                    cursor: pointer;
                    transition: 0.5s;
                }

                .action-buttons i:hover{
                    transition: 0.5s;
                    background:lightgrey;
                    /* padding: 12px; */
                }

                .action-buttons .button{
                    transition: 0.2s;
                }

                .action-buttons i:hover .button{
                    transition: 0.2s;
                    transform: scale(1.4);
                }

                .action-buttons .status-button{
                    transform: scale(0.7);
                    /* opacity: 0; */
                    /* margin-bottom:2px; */
                    border: 2px solid black;
                    border-radius: 5px;
                    transition: 0.2s;
                }

                .action-buttons i:hover .status-button{
                    transition: 0.2s;
                    transform: scale(1.4);
                }

                    main .task:hover{                              
                        background: #e7e7e7;
                    }

                    main .task:hover .action-buttons{
                        visibility: visible;
                        opacity: 1;        
                    }






/*
////////////////////////////////////////////////////////////////////////////////////////////////
//                                      ADD NEW TASK                                          //
////////////////////////////////////////////////////////////////////////////////////////////////
*/

/* ADD NEW TASK */
.new-task .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
    z-index: 3;
    display: none;
}

.new-task.active .overlay{
    display: block;
}

    .new-task-content{
        position: absolute;
        top: 140px;
        right: -170px;
        transform: translate(-50%, -50%) scale(0);
        height: 175px;
        z-index: 4;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 10px;
        box-shadow: 0px 0px 80px 5px rgba(0, 0, 0, 0.5);
        background: linear-gradient(to top, #2c3e50 0%, #2c3e50 118px, #22242a 67%, #22242a 40%);
        width: 390px;
        transition-duration: 300ms;
        /* transition: 1s; */
    }

    .checkbox:checked ~ .new-task-content{
        /* background: linear-gradient(to top, #2c3e50 0%, #2c3e50 10%, #22242a 60%, #22242a 40%); */
        transition-duration: 2s;
    }

    .new-task.active .new-task-content{
        transform: translate(-50%, -50%) scale(1 );
    }

        /* NEW TASK WINDOW VECTOR */
        .new-task-content:after{
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            top: -14px;
            right: 96px;
            border-bottom: 15px solid #22242a;
            border-right: 0px solid white;
            border-left: 15px solid transparent;
            visibility: visible;
        }

        @media (max-width: 390px){
            .new-task-content{
                right: -50%;
                top: 50%;
                width: 100%;
                border-radius: 0px;
                height: 100vh;
                background: white;
            }

            .new-task-content:after{
                visibility: hidden;
            }
        }

                .new-task-content .upper-divider{
                    margin: 5px -20px 0px;
                    border: 0;
                    border-top: 1px solid #31343a;
                }

                .new-task-content .lower-divider{
                    border: 0px;
                    border-top: 1px solid #3d566f;
                    margin-top: 14px;
                    position: absolute;
                    width: 90%;
                    bottom: 50px;
                }

                    .new-task-content .task-name{
                        background-color:transparent;
                        border: 0px solid;
                        height:30px;
                        width: 100%;
                        font-size: 20px;
                        font-weight:bolder;
                        color: lightgrey;
                    }

                    input:focus{
                        outline: none;
                    }


/*
////////////////////////////////////////////////////////////////////////////////////////////////
//                                      EDIT TASK                                             //
////////////////////////////////////////////////////////////////////////////////////////////////
*/


/* EDIT TASK */
.edit-task .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
    z-index: 3;
    display: none;
}

.edit-task.active .overlay{
    display: block;
}

.edit-task-container{
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 170px);
    transform: translate(-50%, -50%) scale(0);
    height: 575px;
    z-index: 4;
    /* padding: 20px; */
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 80px 5px rgba(0, 0, 0, 0.5);
    /* background: rgb(221, 221, 221); */
    background: linear-gradient(to top, #2c3e50 0%, #2c3e50 118px, #22242a 67%, #22242a 40%);
    /* width: 590px; */
    transition-duration: 300ms;
    /* transition: 1s; */
}

.edit-task.active .edit-task-container{
    transform: translate(-50%, -50%) scale(1 );
}



















/*
////////////////////////////////////////////////////////////////////////////////////////////////
//                               NEW TASK ICON BUTTONS                                        //
////////////////////////////////////////////////////////////////////////////////////////////////
*/

/* Container */
.window{
    position: flex;
    width: 100%;
    height: 0px;
    background: white;
    border: 1px solid rgb(175, 174, 174);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    /* transition: all 300ms ease-in-out; */
    /* display: none; */
    /* transform: translate(0%, -50%) scale(0); */
    /* transition: 0.5s; */
    /* visibility: hidden; */
    /* transition: visibility 0s linear 300ms, opacity 300ms; */
}


/* CALENDAR */
#day:checked ~ * .fa-regular.fa-calendar {
    font-size: 35px;
    color: white;
    background: rgb(111, 156, 172);
}

    #day:checked ~ .new-task-content .window{
        height: 480px;
        visibility: visible;
    }

        #day:checked ~ .new-task-content{
            height: 660px;
            top: 382px;
            transition-duration: 300ms;
        }

            @media (max-width: 390px){
                #day:checked ~ .new-task-content{
                    height: 100vh;
                    top: 370px;
                }
            }

            .new-task-content .window .calendar{
                transition-duration: 100ms;
                height: 0px;
            }

                #day:checked ~ .new-task-content .window .calendar{
                    /* height: 100vh; */
                    height: 420px;
                    transition-duration: 0.2s;
                }

/* DESCRIPTION */
#comment:checked ~ * .fa-solid.fa-message {
    font-size: 35px;
    color: white;
    background: rgb(111, 156, 172);
}

    #comment:checked ~ .new-task-content .window{
        height: 245px;
        visibility: visible;
    }

        #comment:checked ~ .new-task-content{
            height: 420px;
            top: 262px;
            transition-duration: 300ms;
        }

            .new-task-content .window .comment-area{
                position: absolute;
                border-style: none; 
                border-color: Transparent; 
                height: 0px;
                visibility: hidden;
                resize: none;
                margin-top: -32px;
                margin-left: 2px;
                padding: 8px;
                font-size: 16px;
            }

                .new-task-content .window .comment-area:focus{
                    outline: 0;
                }

                    #comment:checked ~ .new-task-content .window .comment-area{
                        visibility: visible;
                        height: 200px;
                        transition: 0.3s;
                    }

/* IMPORTANT */
.checkImportant{
    visibility: hidden;
}

    #important:checked ~ * .fa-solid.fa-star {
        color: rgb(180, 180, 8);
    }

    #important:checked ~ * .fa-solid.fa-star:hover {
        color: yellow;
    }



/* REPEAT */
#repeat:checked ~ * .fa-solid.fa-repeat {
    font-size: 35px;
    color: white;
    background: rgb(111, 156, 172);
}

    #repeat:checked ~ .new-task-content .window{
        height: 100px;
        visibility: visible;
    }

        #repeat:checked ~ .new-task-content{
            height: 300px;
            top: 202px;
            transition-duration: 300ms;
        }

/* TIME PICKER */
#time:checked ~ * .fa-regular.fa-clock {
    font-size: 35px;
    color: white;
    background: rgb(111, 156, 172);
}

    #time:checked ~ .new-task-content .window{
        height: 100px;
        visibility: visible;
        
    }

        #time:checked ~ .new-task-content{
            height: 300px;
            top: 202px;
            transition-duration: 300ms;
        }

        @media (max-width: 390px){
            #time:checked ~ .new-task-content{
                height: 100vh;
                top: 370px;
            }
        }

            .new-task-content .window .time-picker{
                visibility: hidden;
                appearance: none;
                border: none;
                
            }

            #time:checked ~ .new-task-content .window .time-picker{
                visibility: visible;
            }


            input[type="time"] {
                background: #ccc;
                background: linear-gradient(90deg, #ddd, #ccc);
                border: 3px solid #eee;
                border-radius: 20px;
                box-shadow: 0 3px 3px rgba(0,0,0,0.1);
                color: #222;
                font: 16px Helvetica,Arial,sans-serif;
                left: 50%;
                line-height: 20px;
                margin: -15px 0 0 -100px;
                outline: 0;
                padding: 5px 10px;
                position: absolute;
                top: 50%;
                width: 200px;
            }

            /* input[type="time"]::-webkit-calendar-picker-indicator:before {
                background: #eee;
                background: linear-gradient(90deg, #eee, #fff);
                box-shadow: 0 1px 1px rgba(0,0,0,0.1);
                border-radius: 24px;
                content: '';
                display: block;
                height: 22px;
                left: -2px;
                position: absolute;
                top: -5px;
                width: 22px;
                z-index: -1;
            } */
            /* #time:checked ~ .new-task-content .window .time-pickable{
                visibility: visible;
            }

            .new-task-content .window .time-picker{
                position: absolute;
                display: inline-block;
                padding: 10px;
                background: #eeeeee;
                border-radius: 6px;
                visibility: hidden;
            }*/



            /*.time-picker__select{
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                outline: none;
                text-align: center;
                border: 1px solid #dddddd;
                border-radius: 6px;
                padding: 6px 10px;
                background: #ffffff;
                cursor: pointer;
            } */


















/* STATUS ICON BUTTON */
.status-icon-btn{
    /* border: 2px solid black; */
    width: 20px;
    height: 20px;
}

input[id="status-checkbox"]{
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    /* background-color: red; */
    border: 2px solid rgb(33, 33, 33);
    border-radius: 3px;
    /* position: absolute; */
    /* margin: auto; */
    /* margin-top: 2px; */
    margin: 3px 2px 0px 0px;
    width: 15px;
    height: 15px;
    /* align-items: center; */
    /* vertical-align: center; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: all 0.3s;
}

input[id="status-checkbox"]:after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 9px;
    content: "\f00c";
    display: none;
    transition: all 0.3s;
    color: rgb(228, 228, 228);
}

input[id="status-checkbox"]:hover{
    /* margin-top: 0px; */
    /* margin-left: -2px; */
    position: fixed;
    margin: 0px 0px 0px -2px;
    width: 20px;
    height: 20px;
    /* transition: all 0.3s; */
    border: 2px solid black;
}
input[id="status-checkbox"]:hover:after{
    font-size: 15px;
    /* transition: all 0.3s; */
    color: rgb(228, 228, 228);
}

input[id="status-checkbox"]:checked{
    color: white;
    background: rgb(0, 210, 0);
    border: 2px solid rgb(0, 210, 0);
    /* transition: all 0.3s; */
}

input[id="status-checkbox"]:checked:after{
 display: block;
}
























































                    



























/* NEW TASK -> BUTTONS */
.buttons{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.cancel-btn {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.cancel-btn:hover {
  background-color: #f7fafa;
}

.cancel-btn:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

.add-btn {
    background-color: #0088ff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember",sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 100px;
  }
  
  .add-btn:hover:enabled {
    background-color: #007dea;
  }
  
  .add-btn:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
  }

  .add-btn:disabled {
    color: white;
    cursor:default;
    background-color: #73addf;
  }




.new-task-content .window{
    visibility: hidden;
    transition-duration: 300ms;
}






.set-date{
    text-align: right;
    position: absolute;
    margin-right: auto;
    top: 20px;
    right: 20px;
    background-color:transparent;
    border: 0px solid;
    height:30px;
    width:140px;
    font-size: 10px;
    color: grey;
    /* visibility: hidden; */
}

.set-time{
    text-align: right;
    position: absolute;
    margin-right: auto;
    top: 57px;
    right: 20px;
    background-color:transparent;
    border: 0px solid;
    height:30px;
    width:140px;
    font-size: 10px;
    color: grey;
    /* visibility: hidden; */
}










.new-task-content ul{
    height: 35px;
    margin: 12px 0px 0px -20px;
    width: 100%;
    /* width: 280px; */
    /* margin: auto; */
    /* justify-content:left; */
    /* display:left; */
    /* vertical-align: left; */
    justify-content: center;
    display: flex;
    /* border-top: 12px solid rgb(238, 238, 238); */
    /* float: left; */
    list-style-type: none;
    /* align-items: center; */
    /* left: 50px; */
    /* border-bottom: 40px solid rgb(238, 238, 238);; */
    
    /* background: rgb(238, 238, 238); */
    /* border-radius: 9px; */
    /* align-items: left; */
    /* border: 1px solid grey; */
}

    @media (max-width: 390px){
        .new-task-content ul{
            /* width: 280px; */
            
            /* float: center; */
        }
    }

    .new-task-content ul li{
        display: flex;
        align-items: center;
        /* vertical-align: middle; */
        font-size: 13px;
        padding: 3px;
        color: rgb(185, 185, 185);
        /* background: lightblue; */
        position: relative; left: -20px;
    }

        .new-task-content ul li i{
            cursor: pointer;
            padding: 8px;
            background: #384e64;
            border-radius: 5px;
            transition: 0.5s;
        }



            .new-task-content ul li:hover i{
                color: white;
                background: rgb(111, 156, 172);
                font-size: 35px;
            }












        /* CLOCK ICON */
        .checkTime{
            visibility: hidden;
        }

        .checkTime:enabled ~ .new-task-content ul li .fa-regular.fa-clock{
            display: block;
            animation: visible 0.3s;
            animation: size 0.3s;
        }

            @keyframes visible {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }

            @keyframes size {
                from {
                    font-size: 0px;
                }
                to {
                    font-size: 14px;
                }
            }







































:root {
    --calendar-bg-color: transparent;
    --calendar-font-color: black;
    --weekdays-border-bottom-color: #404040;
    --calendar-date-hover-color: #505050;
    --calendar-current-date-color: lightgrey;
    --calendar-today-color: rgb(216, 245, 255);
    --calendar-today-innerborder-color: transparent;
    --calendar-select-color: rgb(36, 161, 202);
    --calendar-select-innerborder-color: transparent;
    --calendar-nextprev-bg-color: transparent;
    --next-prev-arrow-color : black;
    --calendar-prevnext-date-color: #dedede;
}

.calendar {
    font-family: 'IBM Plex Sans', sans-serif;
    position: relative;
    max-width: 400px;
    min-width: 320px;
    background: var(--calendar-bg-color);
    color: var(--calendar-font-color);
    margin: 20px auto;
    box-sizing: border-box;
    overflow: hidden;
    font-weight: normal;
    border-radius: var(--calendar-border-radius);
}

.calendar-inner {
    padding: 10px 10px;
}

.calendar .calendar-inner .calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.calendar .calendar-inner .calendar-body div {
    padding: 4px;
    min-height: 30px;
    line-height: 30px;
    border: 1px solid transparent;
    margin: 10px 2px 0px;
}

.calendar .calendar-inner .calendar-body div:nth-child(-n+7) {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body div:nth-child(-n+7):hover {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body div>a {
    color: var(--calendar-font-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.calendar .calendar-inner .calendar-body div:hover {
    border: 1px solid var(--calendar-date-hover-color);
    border-radius: 4px;
}

.calendar .calendar-inner .calendar-body div.empty-dates:hover {
    border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.calendar .calendar-inner .calendar-today-date {
    display: grid;
    text-align: center;
    cursor: pointer;
    margin: 3px 0px;
    background: var(--calendar-current-date-color);
    padding: 8px 0px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month {
    display: flex;
    min-width: 100px;
    justify-content: space-evenly;
    align-items: center;
}

.calendar .calendar-inner .calendar-controls .calendar-next {
    text-align: right;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-year-label,
.calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-month-label {
    font-weight: 500;
    font-size: 20px;
}

.calendar .calendar-inner .calendar-body .calendar-today {
    background: var(--calendar-today-color);
    border-radius: 4px;
}

.calendar .calendar-inner .calendar-body .calendar-today:hover {
    border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-body .calendar-today a {
    outline: 2px solid var(--calendar-today-innerborder-color);
}

.calendar .calendar-inner .calendar-controls .calendar-next a,
.calendar .calendar-inner .calendar-controls .calendar-prev a {
    color: var(--calendar-font-color);
    font-family: arial, consolas, sans-serif;
    font-size: 26px;
    text-decoration: none;
    padding: 4px 12px;
    display: inline-block;
    background: var(--calendar-nextprev-bg-color);
    margin: 10px 0 10px 0;
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg {
    height: 20px;
    width: 20px;
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg path,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg path{
    fill: var(--next-prev-arrow-color);
}

.calendar .calendar-inner .calendar-body .prev-dates,
.calendar .calendar-inner .calendar-body .next-dates {
    color: var(--calendar-prevnext-date-color);
}

.calendar .calendar-inner .calendar-body .prev-dates:hover,
.calendar .calendar-inner .calendar-body .next-dates:hover {
    border: 1px solid transparent;
    pointer-events: none;
} 





.calendar .calendar-inner .calendar-select-date {
    display: grid;
    text-align: center;
    cursor: pointer;
    margin: 3px 0px;
    background: var(--calendar-current-date-color);
    padding: 8px 0px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
}

.calendar .calendar-inner .calendar-body .calendar-select {
    background: var(--calendar-select-color);
    border-radius: 4px;
}

.calendar .calendar-inner .calendar-body .calendar-select:hover {
    border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-body .calendar-select a {
    outline: 2px solid var(--calendar-select-innerborder-color);
}
