/* ROOT */
:root{
    --dark: #314151;
    --darker: #1F2937;
    --darkest: #111827;
    --grey: #6B7280;
    --light: #EEE;
    --pink: #EC4899;
    --purple: #8B5CF6;
}
/* MAIN */
*{
    font-family: 'Barlow', sans-serif;
}
body{
    margin: 0;
    height: 100%;
    overflow: hidden
}
.page-header{
    top: 0;
    z-index: 2;
}

/* HIDE CHECKBOXES */
.checkbox{
    display: none;
}

/* TOP NAV BAR */
.top-nav{
    position: relative;
    z-index: 2;
    height: 48px;
    width: 100%;
    background: #22242a;
    justify-content: space-between;
}
.top-nav ul.items-left{
    float: left;
    margin-left: -30px;
}
.top-nav ul.items-right{
    float: right;
}
.top-nav ul li{
    display: inline-block;
    cursor: pointer;
}
.top-nav ul li a{
    text-decoration: none;
    padding: 8px;
    color: white;
    border-radius: 4px;
}
.top-nav ul li:hover a{
    background: rgb(92, 92, 92);
}
.user-pic{
    cursor: pointer;
    float: right;
    width: 36px;
    border-radius: 50%;
    margin: -10px 10px 0px 10px;
}

/* TOP NAV - BARS BUTTON */
.fa-solid.fa-bars{
    cursor: pointer;
    transition: 0.3s;
    color: white;
    padding: 8px;
    border-radius: 4px;
    margin-top: -10px;
}
.fa-solid.fa-bars:hover{
    background: rgb(92, 92, 92);
    color: #19b3d3;
}
#bars-button:checked ~ aside {
    left: 0;
}
#bars-button:checked ~ main {
    margin: 0px 0px 0px 150px;
    width: calc(100% - 150px);
}
#bars-button:checked ~ * .fa-solid.fa-bars{
    color: #19b3d3;
}

/* SIDE NAV BAR */
aside{
    position: fixed;
    width: 150px;
    height: 100%;
    background-color: #2c3e50;
    box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.3);
    left: -150px;
    transition: left 0.5s ease-in-out;
    z-index: 1;
}
.side-nav a{
    padding: 0px 0px 0px 18px;
    text-decoration: none;
    font-size: 13px;
    color: lightgrey;
    display: block;
    transition: 0.3s;
    line-height: 40px;
}
.side-nav a:hover{
    color: white;
    font-weight: 600;
    background: #0c5d6e;
}

/* PAGE HEADER */
main{
    position: absolute;
    width: 100%;
    height: 94vh;
    transition: all 0.5s ease-in-out;
    overflow-y: scroll;
    cursor: default;
    user-select: none;
    background: var(--dark);
}
.main-header{
    z-index: 2;
    height: 70px;
    width: calc(70% - 20px);
    background: var(--darkest);
    border-top: 20px solid var(--dark);
    top: 0px;
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    align-items: center;
    margin-left:15%;
    border-right: 20px solid var(--dark);
}
.main-header .items-left{
    height: 65px;
    width: 50%;
    display: flex;
    align-items: center;
}
main .fa-solid.fa-layer-group{
    color: #b1bec9;
    margin: 0px 5px 0px 5px;
    font-size: 40px;
    padding: 5px;
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main-header h1{
    color: #b1bec9;
    font-family:sans-serif;
    padding: 5px;
}          
main .date{
    color: rgb(47, 47, 47);
    margin-top: 49px;
    margin-left: 2px;
    padding: 2px;
    border-radius: 2px;
}

/* TASK LIST HEADER */
.inbox-section nav{
    margin-top: 0px;
    margin-left: 15%;
    width: 70%;
    height: 37px;
    border-top: 10px solid var(--dark);
    top: 90px;
    position: -webkit-sticky;
    position: sticky;
    display: block;
    background: var(--dark);
    cursor: default;
    user-select: none;
    z-index: 1;
}
.inbox-section nav p{
    display: inline;
    color: #b1bec9;
}
.task-counter{
    font-size: 12px;
}     
.inbox-section nav hr{
    border: 0px;
    border-top: 1px solid grey;
    width: calc(100% - 56px);
    margin-right: 20px;
}

/* HIDE AND SHOW TASK LISTS */
.inbox-section nav .fa-solid.fa-chevron-down{
    font-size: 13px;
    color: rgb(133, 133, 133);
    margin-left: 10px;
    margin-top: 4px;
    transition: 0.5s;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
}
#upcoming:checked ~ * .fa-solid.fa-chevron-down {
    transform: rotate(-90deg);
}
#completed:checked ~ * .fa-solid.fa-chevron-down {
    transform: rotate(-90deg);
}
#overdue:checked ~ * .fa-solid.fa-chevron-down {
    transform: rotate(-90deg);
}
#inbox:checked ~ * .fa-solid.fa-chevron-down {
    transform: rotate(-90deg);
}

/* MAIN PAGE - INBOX SECTION - NEW TASK */
.task{
    height: 74px;
    margin-left: calc(15% - 35px);
    width: calc(70% + 11px);
    display: flex;
}
.inbox-section .container{            
    width: calc(100%);
    height: 57px;
    padding: 2px;
    margin-top: 5px;
    margin-left: calc(40px);
    margin-right: 5px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
    background: #283544;
    color: #717a81;
    

    animation-duration: 0.4s;
    animation-name: animate-fade;
    animation-delay: 0s;
    animation-fill-mode: backwards;
}
@keyframes animate-fade {
0% { opacity: 0; }
100% { opacity: 1; }
}
.container .title{
    border: none;
    cursor: pointer;
    transition: color 0.3s;
    background-color: transparent;
    width: calc(100% - 175px);
    padding: 5px;
    margin: 2px 0px 0px 2px;
    font-weight:900;
    font-size: 16px;
    position:relative;
    display: block;
}
.container .date{
    position: absolute;
    display: inline-block;
    padding: 5px;
    width: 95px;
    height: 15px;
    margin: 0px 0px 0px 2px;
    font-size: 12px;
    border-radius: 0px;
}   
.container .time{
    position: absolute;
    display: inline-block;
    padding: 5px;
    width: 95px;
    height: 15px;
    margin: 0px 0px 0px 95px;
    font-size: 12px;
}   
.container p{
    display: inline-flex;
    margin: -20px 0px 0px 0px;
    color: #717a81;
    transition: color 0.3s;
}
.container i{
    display: inline-flex;
    color: #717a81;
    transition: color 0.3s;
}
.container .fa-regular.fa-calendar-days{
    margin: 0px 5px 0px 0px;
}
.container .fa-regular.fa-clock{
    margin: 0px 5px 0px 0px;
}
.action-buttons{
    visibility: hidden;
    position:absolute;
    display: inline-flex;
    right: calc(15% + 32px);
    margin-top: -25px;
    opacity: 0;
    transition:visibility 0.1s linear,opacity 0.1s linear;
    width: 113px;
    font-size: 13px;
    padding: 3px;
    color: rgb(185, 185, 185);
}
.action-buttons i{
    border-radius: 5px;
    padding: 10px;

    cursor: pointer;
    transition: 0.5s;
}
.action-buttons i:hover{
    transition: 0.5s;
    background: var(--dark);
}
.action-buttons .button{
    transition: 0.2s;
}
.action-buttons i:hover .button{
    transition: 0.2s;
    transform: scale(1.4);
}
.action-buttons .status-button{
    transform: scale(0.7);
    border: 2px solid black;
    border-radius: 5px;
    transition: 0.2s;
}
.action-buttons i:hover .status-button{
    transition: 0.2s;
    transform: scale(1.4);
}
.inbox-section .container:hover{     
    box-shadow: 0px 0px 5px 0px #1F2937;                        
    background: #1F2937;
}
.container:hover .title{
    color: #b1bec9;
}
.container:hover p{
    color: #b1bec9;
}
.container:hover i{
    color: #b1bec9;
}
main .container:hover .action-buttons{
    visibility: visible;
    opacity: 1;        
}










/*
////////////////////////////////////////////////////////////////////////////////////////////////
//                                      DROPDOWN BUTTON                                          //
////////////////////////////////////////////////////////////////////////////////////////////////
*/
.btn {
    /* background-color: var(-dark); */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: var(--gap);
    padding: 0.4rem;
    cursor: pointer;
    border-radius: var(--radius);
    border: none;
    box-shadow: var(--shadow);
    position: absolute;
    border-radius: 5px;
    right: 5px;
    bottom: 5px;
    font-size: 10px;
    width: 28px;
    height: 30px;
    transition: 0.2s;
    /* background: red; */
    background: var(--dark);
  }


  
  .bx {
    font-size: 1.1rem;
    /* border-radius: 10px; */
  }

  .btn i{
    position: absolute;
    right: 5px;
  }
  
  .dropdown {
    position: absolute;
    right: 5px;
    bottom: -60px;
    width: 150px;
    box-shadow: 0px 0px 5px 0;
    margin-top: 0.3rem;
    background: #32343b;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(0.5rem);
    transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
    font-size: 12px;
    height: 50px;
    padding: 5px;
  }

  
  .dropdown a {
    display: flex;
    align-items: center;
    /* column-gap: var(--gap); */
    /* padding: 0.8rem 1rem; */
    text-decoration: none;
    color: grey;
    border-radius: 3px;
    padding: 5px;
  }
  
  .dropdown a:hover {
    background-color: var(--color);
    color: white;
    background: #3b3e47;
  }
  
  .show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0rem);
  }

  .press{
    box-shadow: #b1bec9 0px 0px 7px 0;
    transition: 0.2s;
    background: var(--dark);
    width: 160px;
    color: #b1bec9;
  }
  
  .arrow {
    transform: rotate(180deg);
    transition: 0.2s ease;
  }

  .selected{
    background: rgb(38, 38, 38);
  }






/*
////////////////////////////////////////////////////////////////////////////////////////////////
//                                      ADD NEW TASK                                          //
////////////////////////////////////////////////////////////////////////////////////////////////
*/

/* ADD NEW TASK */
.new-task .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 3;
    display: none;
}

.new-task.active .overlay{
    display: block;
}

    .new-task-content{
        position: absolute;
        top: 140px;
        right: -170px;
        transform: translate(-50%, -50%) scale(0);
        height: 175px;
        z-index: 4;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 10px;
        box-shadow: 0px 0px 80px 5px rgba(0, 0, 0, 0.5);
        background: linear-gradient(to top, #2c3e50 0%, #2c3e50 118px, #22242a 67%, #22242a 40%);
        width: 390px;
        transition-duration: 300ms;
        /* transition: 1s; */
    }

    .checkbox:checked ~ .new-task-content{
        /* background: linear-gradient(to top, #2c3e50 0%, #2c3e50 10%, #22242a 60%, #22242a 40%); */
        transition-duration: 2s;
    }

    .new-task.active .new-task-content{
        transform: translate(-50%, -50%) scale(1 );
    }

    /* ----------------------------------------------------------------------------------------------------------------- */
        /* NEW TASK WINDOW VECTOR */
        .new-task-content:after{
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            top: -14px;
            right: 96px;
            border-bottom: 15px solid #22242a;
            border-right: 0px solid white;
            border-left: 15px solid transparent;
            visibility: visible;
        }

        @media (max-width: 390px){
            .new-task-content{
                right: -50%;
                top: 50%;
                width: 100%;
                border-radius: 0px;
                height: 100vh;
                background: white;
            }

            .new-task-content:after{
                visibility: hidden;
            }
        }

                .new-task-content .upper-divider{
                    margin: 5px -20px 0px;
                    border: 0;
                    border-top: 1px solid #31343a;
                }

                .new-task-content .lower-divider{
                    border: 0px;
                    border-top: 1px solid #3d566f;
                    margin-top: 14px;
                    position: absolute;
                    width: 90%;
                    bottom: 50px;
                }

                    .new-task-content .task-name{
                        background-color:transparent;
                        border: 0px solid;
                        height:30px;
                        width: 100%;
                        font-size: 20px;
                        font-weight:bolder;
                        color: lightgrey;
                    }

                    input:focus{
                        outline: none;
                    }

/*
////////////////////////////////////////////////////////////////////////////////////////////////
//                               NEW TASK ICON BUTTONS                                        //
////////////////////////////////////////////////////////////////////////////////////////////////
*/

/* Container */
.window{
    position: flex;
    width: 100%;
    height: 0px;
    background: white;
    border: 1px solid rgb(175, 174, 174);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    /* transition: all 300ms ease-in-out; */
    /* display: none; */
    /* transform: translate(0%, -50%) scale(0); */
    /* transition: 0.5s; */
    /* visibility: hidden; */
    /* transition: visibility 0s linear 300ms, opacity 300ms; */
}


/* CALENDAR */
#day:checked ~ * .fa-regular.fa-calendar {
    font-size: 35px;
    color: white;
    background: rgb(111, 156, 172);
}

    #day:checked ~ .new-task-content .window{
        height: 480px;
        visibility: visible;
    }

        #day:checked ~ .new-task-content{
            height: 660px;
            top: 382px;
            transition-duration: 300ms;
        }

            @media (max-width: 390px){
                #day:checked ~ .new-task-content{
                    height: 100vh;
                    top: 370px;
                }
            }

            .new-task-content .window .calendar{
                transition-duration: 100ms;
                height: 0px;
            }

                #day:checked ~ .new-task-content .window .calendar{
                    /* height: 100vh; */
                    height: 420px;
                    transition-duration: 0.2s;
                }

                    .new-task-content .clear-btn{
                        /* visibility: hidden; */
                        opacity: 0;
                        /* transition: opacity 2s; */
                    }

                    #day:checked ~ .new-task-content .clear-btn{
                        /* visibility: visible; */
                        
                        /* transition: opacity 1s; */
                        animation: opacity 0.26s;
                        opacity: 100;
                    }

/* DESCRIPTION */
#comment:checked ~ * .fa-solid.fa-message {
    font-size: 35px;
    color: white;
    background: rgb(111, 156, 172);
}

    #comment:checked ~ .new-task-content .window{
        height: 245px;
        visibility: visible;
    }

        #comment:checked ~ .new-task-content{
            height: 420px;
            top: 262px;
            transition-duration: 300ms;
        }

            .new-task-content .window .comment-area{
                position: absolute;
                border-style: none; 
                border-color: Transparent; 
                height: 0px;
                visibility: hidden;
                resize: none;
                margin-top: -32px;
                padding: 8px;
                font-size: 16px;
            }

                .new-task-content .window .comment-area:focus{
                    outline: 0;
                }

                    #comment:checked ~ .new-task-content .window .comment-area{
                        visibility: visible;
                        height: 200px;
                        transition: 0.3s;
                    }

/* IMPORTANT */
.checkImportant{
    visibility: hidden;
}

    #important:checked ~ * .fa-solid.fa-star {
        color: rgb(180, 180, 8);
    }

    #important:checked ~ * .fa-solid.fa-star:hover {
        color: yellow;
    }



/* REPEAT */
#repeat:checked ~ * .fa-solid.fa-repeat {
    font-size: 35px;
    color: white;
    background: rgb(111, 156, 172);
}

    #repeat:checked ~ .new-task-content .window{
        height: 100px;
        visibility: visible;
    }

        #repeat:checked ~ .new-task-content{
            height: 300px;
            top: 202px;
            transition-duration: 300ms;
        }

/* TIME PICKER */
#time:checked ~ * .fa-regular.fa-clock {
    font-size: 35px;
    color: white;
    background: rgb(111, 156, 172);
}

    #time:checked ~ .new-task-content .window{
        height: 100px;
        visibility: visible;
        
    }

        #time:checked ~ .new-task-content{
            height: 300px;
            top: 202px;
            transition-duration: 300ms;
        }

        @media (max-width: 390px){
            #time:checked ~ .new-task-content{
                height: 100vh;
                top: 370px;
            }
        }

            .new-task-content .window .time-picker{
                visibility: hidden;
                appearance: none;
                border: none;
                
            }

            #time:checked ~ .new-task-content .window .time-picker{
                visibility: visible;
            }

            #time:checked ~ .new-task-content .clear-btn{
                /* visibility: visible; */
                
                /* transition: opacity 1s; */
                animation: opacity 0.26s;
                opacity: 100;
            }
















.task:hover input{
    visibility: visible;
}
/* .task:hover .container{
    background: var(--darker);
} */

/* STATUS ICON BUTTON */
input[id="status-checkbox"]{
    position: absolute;
    
    /* position: absolute; */
    /* display: fixed; */
    /* left: 40px; */
    /* margin: -10px 0px 0px -25px; */
    margin: 28px 0px 0px 15px;
    appearance: none;
    -webkit-appearance: none;
    /* background-color: red; */
    border: 1px solid rgb(170, 170, 170);
    /* border-radius: 3px; */
    /* position: absolute; */
    /* margin: auto; */
    /* margin-top: 2px; */
    /* margin: 3px 2px 0px 0px; */
    /* margin: 0px 40px 0px 0px; */
    width: 16px;
    height: 16px;
    border-radius: 50px;
    /* align-items: center; */
    /* vertical-align: center; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    /* transition: all 0.3s; */
    /* background: lightblue; */
    visibility: hidden;
}

input[id="status-checkbox"]:after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 9px;
    content: "\f00c";
    display: none;
    /* transition: all 0.3s; */
    color: white;
}

input[id="status-checkbox"]:hover{
    /* position: fixed; */
    /* margin: -12px 0px 0px -27px; */
    margin: 26px 0px 0px 13px;
    /* margin: 0px 0px 0px -2px; */
    /* left: 40px; */
    width: 20px;
    height: 20px;
    /* border: 2px solid black; */
}


input[id="status-checkbox"]:hover:after{
    font-size: 15px;
    /* transition: all 0.3s; */
    color: white;
}

input[id="status-checkbox"]:checked{
    color: white;
    background: rgb(0, 210, 0);
    border: 2px solid rgb(0, 210, 0);
    /* transition: all 0.3s; */
}

input[id="status-checkbox"]:checked:after{
 display: block;
}
























































                    



























/* NEW TASK -> BUTTONS */
/* cancel button */
.buttons{
    position: absolute;
    bottom: 20px;
    left: 95px;
}

.cancel-btn {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.cancel-btn:hover {
  background-color: #f7fafa;
}

.cancel-btn:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

/* add button */
.add-btn {
    background-color: #0088ff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember",sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 100px;
    margin-left: 5px;
  }
  
  .add-btn:hover:enabled {
    background-color: #007dea;
  }
  
  .add-btn:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
  }

  .add-btn:disabled {
    color: white;
    cursor:default;
    background-color: #73addf;
  }

/* save button */
.save-btn {
    background-color: #0088ff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember",sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 100px;
    margin-left: 5px;
  }
  
  .save-btn:hover:enabled {
    background-color: #007dea;
  }
  
  .save-btn:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
  }

  .save-btn:disabled {
    color: white;
    cursor:default;
    background-color: #73addf;
  }


/* clear button */
.clear-btn {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember",sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 70px;
    /* bottom: -43px; */
    left: -73px;
    }

.clear-btn:hover:enabled {
    background-color: #f7fafa;
}

.clear-btn:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
}

.clear-btn:disabled {
    color: white;
    cursor:default;
    border: 1px solid #e9eded;
    background-color: #e5e5e5;
  }















.new-task-content .window{
    visibility: hidden;
    transition-duration: 300ms;
}






.set-date{
    text-align: right;
    position: absolute;
    margin-right: auto;
    top: 20px;
    right: 20px;
    background-color:transparent;
    border: 0px solid;
    height:30px;
    width:140px;
    font-size: 10px;
    color: grey;
    /* visibility: hidden; */
}

.set-time{
    text-align: right;
    position: absolute;
    margin-right: auto;
    top: 57px;
    right: 20px;
    background-color:transparent;
    border: 0px solid;
    height:30px;
    width:140px;
    font-size: 10px;
    color: grey;
    /* visibility: hidden; */
}










.new-task-content ul{
    height: 35px;
    margin: 12px 0px 0px -20px;
    width: 100%;
    /* width: 280px; */
    /* margin: auto; */
    /* justify-content:left; */
    /* display:left; */
    /* vertical-align: left; */
    justify-content: center;
    display: flex;
    /* border-top: 12px solid rgb(238, 238, 238); */
    /* float: left; */
    list-style-type: none;
    /* align-items: center; */
    /* left: 50px; */
    /* border-bottom: 40px solid rgb(238, 238, 238);; */
    
    /* background: rgb(238, 238, 238); */
    /* border-radius: 9px; */
    /* align-items: left; */
    /* border: 1px solid grey; */
}

    @media (max-width: 390px){
        .new-task-content ul{
            /* width: 280px; */
            
            /* float: center; */
        }
    }

    .new-task-content ul li{
        display: flex;
        align-items: center;
        font-size: 13px;
        padding: 3px;
        color: rgb(185, 185, 185);
        position: relative; left: -20px;
    }

        .new-task-content ul li i{
            cursor: pointer;
            padding: 8px;
            background: #384e64;
            border-radius: 5px;
            transition: 0.5s;
        }

        /* ul:hover li:not(:first-child){

            background-color:orange; 
         
         } */

            /* .new-task-content ul li:hover i{
                color: white;
                background: rgb(111, 156, 172);
                font-size: 35px;
            } */

            .checkTime{
                display: none;
            }

            .checkTime:disabled ~ .new-task-content ul li:hover:not(:nth-child(2)) i{
                color: white;
                background: rgb(111, 156, 172);
                font-size: 35px;
            }

            .checkTime:enabled ~ .new-task-content ul li:hover i{
                color: white;
                background: rgb(111, 156, 172);
                font-size: 35px;
            }








        .checkTime:disabled ~ .new-task-content ul li .fa-regular.fa-clock{
            color: #2f3d4e;
            cursor: default;
        }







































:root {
    --calendar-bg-color: transparent;
    --calendar-font-color: black;
    --weekdays-border-bottom-color: #404040;
    --calendar-date-hover-color: #505050;
    --calendar-current-date-color: lightgrey;
    --calendar-today-color: rgb(216, 245, 255);
    --calendar-today-innerborder-color: transparent;
    --calendar-select-color: rgb(36, 161, 202);
    --calendar-select-innerborder-color: transparent;
    --calendar-nextprev-bg-color: transparent;
    --next-prev-arrow-color : black;
    --calendar-prevnext-date-color: #dedede;
}

.calendar {
    font-family: 'IBM Plex Sans', sans-serif;
    position: relative;
    max-width: 400px;
    min-width: 320px;
    background: var(--calendar-bg-color);
    color: var(--calendar-font-color);
    margin: 20px auto;
    box-sizing: border-box;
    overflow: hidden;
    font-weight: normal;
    border-radius: var(--calendar-border-radius);
}

.calendar-inner {
    padding: 10px 10px;
}

.calendar .calendar-inner .calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.calendar .calendar-inner .calendar-body div {
    padding: 4px;
    min-height: 30px;
    line-height: 30px;
    border: 1px solid transparent;
    margin: 10px 2px 0px;
}

.calendar .calendar-inner .calendar-body div:nth-child(-n+7) {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body div:nth-child(-n+7):hover {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body div>a {
    color: var(--calendar-font-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.calendar .calendar-inner .calendar-body div:hover {
    border: 1px solid var(--calendar-date-hover-color);
    border-radius: 4px;
}

.calendar .calendar-inner .calendar-body div.empty-dates:hover {
    border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.calendar .calendar-inner .calendar-today-date {
    display: grid;
    text-align: center;
    cursor: pointer;
    margin: 3px 0px;
    background: var(--calendar-current-date-color);
    padding: 8px 0px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month {
    display: flex;
    min-width: 100px;
    justify-content: space-evenly;
    align-items: center;
}

.calendar .calendar-inner .calendar-controls .calendar-next {
    text-align: right;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-year-label,
.calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-month-label {
    font-weight: 500;
    font-size: 20px;
}

.calendar .calendar-inner .calendar-body .calendar-today {
    background: var(--calendar-today-color);
    border-radius: 4px;
}

.calendar .calendar-inner .calendar-body .calendar-today:hover {
    border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-body .calendar-today a {
    outline: 2px solid var(--calendar-today-innerborder-color);
}

.calendar .calendar-inner .calendar-controls .calendar-next a,
.calendar .calendar-inner .calendar-controls .calendar-prev a {
    color: var(--calendar-font-color);
    font-family: arial, consolas, sans-serif;
    font-size: 26px;
    text-decoration: none;
    padding: 4px 12px;
    display: inline-block;
    background: var(--calendar-nextprev-bg-color);
    margin: 10px 0 10px 0;
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg {
    height: 20px;
    width: 20px;
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg path,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg path{
    fill: var(--next-prev-arrow-color);
}

.calendar .calendar-inner .calendar-body .prev-dates,
.calendar .calendar-inner .calendar-body .next-dates {
    color: var(--calendar-prevnext-date-color);
}

.calendar .calendar-inner .calendar-body .prev-dates:hover,
.calendar .calendar-inner .calendar-body .next-dates:hover {
    border: 1px solid transparent;
    pointer-events: none;
} 

.calendar .calendar-inner .calendar-select-date {
    display: grid;
    text-align: center;
    cursor: pointer;
    margin: 3px 0px;
    background: var(--calendar-current-date-color);
    padding: 8px 0px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
}

.calendar .calendar-inner .calendar-body .calendar-select {
    background: var(--calendar-select-color);
    border-radius: 4px;
}

.calendar .calendar-inner .calendar-body .calendar-select:hover {
    border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-body .calendar-select a {
    outline: 2px solid var(--calendar-select-innerborder-color);
}